<div class="container">
  <form [formGroup]="driverForm" (ngSubmit)="onFormSubmit()">
    <table class="table" border="2">
      <tr id="tr1">
        <td>Name</td>
        <td>Gender</td>
        <td>License</td>
        <td>Contact No</td>
        <td>Password</td>
        <td></td>
      </tr>
      <tr ngclass="btn-primary">
        <th class="tbl2">
          <input formControlName="DriverName" placeholder="Enter Name" size="15"/>
          <input formControlName="driverId" type="hidden" class="form-control" id="driverId">
        </th>
        <th class="tbl2">
          <select Tooltip="Gender" formControlName="Gender">
            <option value=1>Male</option>
            <option value=2>Female</option>
          </select>
        </th>
        <th class="tbl2">
          <input
            formControlName="DrivingLicence"
            type="text"
            placeholder="Enter licence"
            size="15"
          />
        </th>
        <th class="tbl2">
          <input
            formControlName="ContactNo"
            type="text"
            placeholder="Enter Phone no"
            size="15"
          />
        </th>
        <th class="tbl2">
          <input
            formControlName="UserPassword"
            type="password"
            placeholder="Enter Password"
            size="15"
          />
        </th>
        <th class="tbl2">
          <button
            type="submit"
            class="btn btn-primary"
            Tooltip="Click Submit Button"
            [disabled]="!driverForm.valid"
          >
            Submit</button
          >
        </th>
      </tr>
    </table>
  </form>
    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color:rgba(88, 174, 231, 0.6);">
        <th class="tbl2">Name</th>
        <th class="tbl2">Gender</th>
        <th class="tbl2">Contact No.</th>
        <th class="tbl2">Driving License</th>
        <th class="tbl2">Edit</th>
        <th class="tbl2">Delete</th>
      </tr>
      <tr *ngFor="let Driver of driverList">
        <td class="tbl2">{{ Driver.DriverName }}</td>
        <td class="tbl2">{{ Driver.GenderType}}</td>
        <td class="tbl2">{{ Driver.ContactNo }}</td>
        <td class="tbl2">{{ Driver.DrivingLicence }}</td>
        <td class="tbl2">
          <button
            type="button"
            class="btn btn-info"
            matTooltip="Click Edit Button"
            (click)="FillDriverFormToEdit(Driver.DriverId)"
          >
            Edit
          </button>
        </td>
        <td class="tbl2">
          <button
            type="button"
            class="btn btn-danger"
            matTooltip="Click Delete Button"
            (click)="DeleteDriver(Driver.DriverId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
</div>
