<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  	<!-- WEBSITE LOGO -->
	<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <header class=container-fluid id=cn_fl1>
    <div class=row>
      <div class=col-md-6 id=trk_head>
        <div class="page-header">
          <span id=app_name>TRACKARS</span>
        </div>
      </div>
      <div class=col-md-6  id=trk_head align=right>
        <div class=row>
          <div class=col-md-8>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>
          <div class=col-md-4>
            <button type="button" class="btn btn-primary" (click)="onSignOut()">Sign Out</button>
          </div>
      </div>
    </div>
    </div>
  </header>

  <div class="row" id="main">
    <div class="col-2" id="lpanel">
      <ul id="lmenu">
        <li><button id="btn1" (click)="onTaxis()"><span class="taxi-ico" style="background-image: url('../../assets/taxi.png');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Taxi</button></li>
        <li><button id="btn1" (click)="onUsers()"><span class="taxi-ico" style="background-image: url('../../assets/users.png');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Users</button></li>
        <li><button id="btn1" (click)="onDrivers()"><span class="taxi-ico" style="background-image: url('../../assets/driver.png');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Drivers</button></li>
        <li><button id="btn1" (click)="onCustomers()"><span class="taxi-ico" style="background-image: url('../../assets/customer.png');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Customers</button></li>
        <li><button id="btn1" (click)="customerRide()"><span class="taxi-ico" style="background-image: url('../../assets/ride.png');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Customer Ride</button></li>
        <li><button id="btn1" (click)="driverLocation()"><span class="taxi-ico" style="background-image: url('../../assets/location.png');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Driver Location</button></li>
        <li><button id="btn1" (click)="onAttendance()"><span class="taxi-ico" style="background-image: url('../../assets/attendance.png');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Attendance</button></li>
      </ul>
    </div>
    <div class="col-10" id="rpanel">
      <div id="comp-render" *ngIf="taxi">
        <app-taxi></app-taxi>
      </div>
      <div id="comp-render" *ngIf="user">
        <app-users></app-users>
      </div>
      <div id="comp-render" *ngIf="customer">
        <app-customers></app-customers>
      </div>
      <div id="comp-render" *ngIf="driver">
        <app-drivers></app-drivers>
      </div>
      <div id="comp-render" *ngIf="driverLoc">
        <app-driver-location></app-driver-location>
      </div>
      <div id="comp-render" *ngIf="custRide">
        <app-customer-ride></app-customer-ride>
      </div>
      <div id="comp-render" *ngIf="attend">
        <app-attendance></app-attendance>
      </div>

    </div>
  </div>

  <!-- FOOTER SECTION -->
<footer>Copyright &#169; 2020 Uttar Pradesh INDIA Inc. All Rights Reserved. TRACKARS &#174; is a registered trademark of the MIND-INFOTECH. Privacy And Terms.</footer>

<!-- SCRIPT PROGRAMMING -->
<script language="javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
