<div class="container" *ngIf="CustomerRide">
  <form [formGroup]="rideForm" (ngSubmit)="onFormSubmit()">
    <table class="table" border="2">
      <tr id="tr1">
        <td>Customer Name</td>
        <td>PickUp Location</td>
        <td>Drop Location</td>
        <td>Driver Name</td>
        <td></td>
      </tr>
      <tr ngclass="btn-primary">
        <th class="tbl2">
          <!-- <label>PickUp Location</label> -->
          <input formControlName="CustomerName" disabled/>
          <input formControlName="CustomerRideId" type="hidden" class="form-control" id="CustomerRideId">
        </th>
        <th class="tbl2">
          <!-- <label>PickUp Location</label> -->
          <input formControlName="PickupLocation" disabled/>
        </th>
        <th class="tbl2">
          <input formControlName="DropLocation" disabled/>
        </th>
        <th class="tbl2">
          <select Tooltip="Choose Driver" formControlName="TaxiDriverId">
            <option  *ngFor="let td of taxiDriverList" [value]="td.TaxiDriverId">
              {{td.DriverName}}
            </option>
          </select>
        </th>
        <th class="tbl2"> 
          <button
            type="submit"
            class="btn btn-primary"
            Tooltip="Click Submit Button"

          >
            Submit</button
          >
        </th>
      </tr>
    </table>
  </form>
    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color:  rgba(88, 174, 231, 0.6);">
        <th class="tbl2">Customer Name</th>
        <th class="tbl2">PickUp Location</th>
        <th class="tbl2">Drop Location</th>
        <th class="tbl2">Taxi No.</th>
        <th class="tbl2">Driver</th>
        <th class="tbl2">Ride Date</th>
        <th class="tbl2">Booking Status</th>
        <th class="tbl2">Ride Status</th>
        <th class="tbl2">Approve</th>
        <th class="tbl2">Track Ride</th>
      </tr>
      <tr *ngFor="let Ride of rideList">
        <td class="tbl2">{{ Ride.CustomerName }}</td>
        <td class="tbl2">{{ Ride.PickupLocation}}</td>
        <td class="tbl2">{{ Ride.DropLocation }}</td>
        <td class="tbl2">{{ Ride.TaxiNo }}</td>
        <td class="tbl2">{{ Ride.DriverName }}</td>
        <td class="tbl2">{{ Ride.RideDate}}</td>
        <td class="tbl2">{{ Ride.RideStatus == 0 ? "Requested" : Ride.RideStatus == 1 ? "Booked" :"Booked"}}</td>
        <td class="tbl2">{{ Ride.RideStatus == 0 ? "Initiated" : Ride.RideStatus == 1 ? "Started" :"Completed"}}</td>
        <td class="tbl2">
          <button
            type="button"
            class="btn btn-info"
            matTooltip="Click Edit Button"
            (click)="FillRideFormToEdit(Ride.CustomerRideId,Ride.PickupLocationId)"
            *ngIf="Ride.RideStatus == 0"
          >
            Approve
          </button>
        </td>
        <td class="tbl2">
          <button
            type="button"
            class="btn btn-danger"
            matTooltip="Click Edit Button"
            (click)="onTrack(Ride.CustomerRideId)"
            *ngIf="Ride.RideStatus == 1 "
          >
            Track
          </button>
        </td>
      </tr>
    </table>
</div>
<div class="container" *ngIf="TrackRide">
  <app-customer-ride-track CustomerRideId="{{CustomerRideId}}"></app-customer-ride-track>
</div>