<div class="container">
  <form [formGroup]="rideForm" (ngSubmit)="onFormSubmit()">
    <table class="table" border="2">
      <tr>
        <td>PickUp Location</td>
        <td>Drop Location</td>
        <td>Driver Name</td>
        <td></td>
      </tr>
      <tr ngclass="btn-primary">
        <th class="tbl2">
          <!-- <label>PickUp Location</label> -->
          <input formControlName="PickupLocation" disabled/>
          <input formControlName="CustomerRideId" type="hidden" class="form-control" id="CustomerRideId">
        </th>
        <th class="tbl2">
          <input formControlName="DropLocation" disabled/>
        </th>
        <th class="tbl2">
          <select Tooltip="Choose Driver" formControlName="TaxiDriverId">
            <option value=3>Ramesh</option>
            <option value=2>Suresh</option>
          </select>
        </th>
        <th class="tbl2">
          <button
            type="submit"
            class="btn btn-primary"
            Tooltip="Click Submit Button"
            
          >
            Submit</button
          >
        </th>
      </tr>
    </table>
  </form>
    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color: rgba(175, 240, 218, 0.795);">
        <th class="tbl2">Customer Name</th>
        <th class="tbl2">PickUp Location</th>
        <th class="tbl2">Drop Location</th>
        <th class="tbl2">Status</th>
        <th class="tbl2">Approve</th>
      </tr>
      <tr *ngFor="let Ride of rideList">
        <td class="tbl2">{{ Ride.CustomerName }}</td>
        <td class="tbl2">{{ Ride.PickupLocation}}</td>
        <td class="tbl2">{{ Ride.DropLocation }}</td>
        <td class="tbl2">{{ Ride.RideStatus == 1 ? "Ride Booked" : "Booking Request"}}</td>
        <td class="tbl2">
          <button
            type="button"
            class="btn btn-info"
            matTooltip="Click Edit Button"
            (click)="FillRideFormToEdit(Ride.CustomerRideId)"
            *ngIf="Ride.RideStatus == 0"
          >
            Approve
          </button>
        </td>
      </tr>
    </table>
</div>
