<div class="container">
    <form [formGroup]="taxiDriverForm" (ngSubmit)="onFormSubmit()">
      <table class="table" border="2">
        <tr ngclass="btn-primary">
          <th class="tbl2">
            Taxi Number &nbsp;&nbsp;
            <select Tooltip="Choose Taxi" formControlName="TaxiId">
              <option  *ngFor="let t of taxiList" [value]="t.TaxiId">
                {{t.TaxiNo}}
              </option>
            </select>
          </th>
          <th class="tbl2">
            Driver Name &nbsp;&nbsp;
            <select Tooltip="Choose Driver" formControlName="DriverId">
              <option  *ngFor="let d of driverList" [value]="d.DriverId">
                {{d.DriverName}}
              </option>
            </select>
          </th>
          <th class="tbl2">
            <button type="submit" class="btn btn-primary" Tooltip="Click Save Button" [disabled]="!taxiDriverForm.valid">
              Save</button>
          </th>
        </tr>
      </table>
    </form>
      <table class="table" border="2">
        <tr ngclass="btn-primary" style="background-color: rgba(88, 174, 231, 0.6);">
          <th class="tbl2">Taxi Number</th>
          <th class="tbl2">Driver Name</th>
          <!-- <th class="tbl2">Edit</th>
          <th class="tbl2">Delete</th> -->
        </tr>
        <tr *ngFor="let TaxiDriver of taxiDriverList ">
          <td class="tbl2">{{ TaxiDriver.TaxiNo }}</td>
          <td class="tbl2">{{ TaxiDriver.DriverName }}</td>
  
          <!-- <td class="tbl2">
            <button type="button" class="btn btn-info" matTooltip="Click Edit Button"
              (click)="FillTaxiFormToEdit(Taxi.TaxiId)">
              Edit
            </button>
          </td>
          <td class="tbl2">
            <button type="button" class="btn btn-danger" matTooltip="Click Delete Button"
              (click)="DeleteTaxi(Taxi.TaxiId)">
              Delete
            </button>
          </td> -->
        </tr>
      </table>
   
  </div>
  