<div class="container">
  <form>
    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color: rgba(175, 240, 218, 0.795);">
        <th class="tbl2">Driver Name</th>
        <th class="tbl2">Month</th>
        <th class="tbl2">Financial Year</th>
        <th class="tbl2">Days Present</th>
      </tr>
      <tr *ngFor="let Attendance of attendanceList">
        <td class="tbl2">{{ Attendance.DriverName }}</td>
        <td class="tbl2">{{ Attendance.Month }}</td>
        <td class="tbl2">{{ Attendance.Year }}</td>
        <td class="tbl2">{{ Attendance.DaysPresent }}</td>
      </tr>
    </table>
  </form>
</div>
