<!doctype html>
<html lang="en">
<head>
	<!-- META DATA ABOUT SITE -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- TITLE OF INDEX PAGE -->
	<title>Sign In</title>

	<!-- WEBSITE LOGO -->
	<link rel="icon" type="image/x-icon" href="favicon.ico">

	<!-- GOOGLE FONTS USED -->
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mulish&family=Ubuntu+Condensed&display=swap" rel="stylesheet">

	<!-- SOCIAL MEDIA BUTTONS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- BOOTSTRAP -->
	<link rel=stylesheet type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- HEADER SECTION -->
<header class=container-fluid id=cn_fl1>
	<div class=row>
		<div class=col-md-6 id=trk_head>
			<div class="page-header">
				<span id=app_name>TRACKARS</span>
			</div>
		</div>
		<div class=col-md-6  id=trk_head align=right>
			<div class=row>
				<div class=col-md-8>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-google"></a>
					<a href="#" class="fa fa-instagram"></a>
				</div>
				<div class=col-md-4>
					<button type="button" class="btn btn-primary">Sign Up</button>
				</div>
		</div>
  </div>
  </div>
</header>


<!-- MAIN SECTION -->
<main class="container-fluid" id="cont">
  <!-- ASIDE SECTION -->
<aside class=container>
	SIGN IN
</aside>
	<div class=container id=mid_contr>
		<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
			<div class="form-group">
				<label>Username</label>
				<input type="text" name="UserName" class="form-control sty1" formControlName="UserName" placeholder="Enter Username">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" name="UserPassword" class="form-control sty1" formControlName="UserPassword" placeholder="Enter Password">
			</div>
			<div class=row>
				<!-- <div class=col-md-6><a id=f_pass href="javascript:forget_pass();">Forget Password?</a></div> -->
				<div class=col-md-12 align="center"><button type="submit" class="btn btn-primary">Sign In</button></div>
			</div>
		</form>
	</div>
</main>

<!-- FOOTER SECTION -->
<footer>Copyright &#169; 2020 Uttar Pradesh INDIA Inc. All Rights Reserved. TRACKARS &#174; is a registered trademark of the MIND-INFOTECH. Privacy And Terms.</footer>

<!-- SCRIPT PROGRAMMING -->
<script language="javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
