<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <table class="table" border="2">
      <tr ngclass="btn-primary">
        <th class="tbl2">
          <input formControlName="Username" placeholder="Enter UserName" />
        </th>
        <th class="tbl2">
          <input
            formControlName="Password"
            type="password"
            placeholder="Enter Password"
          />
        </th>
        <th class="tbl2">
          <select Tooltip="UserType" formControlName="userType">
            <option value="0">Driver</option>
            <option value="1">Customer</option>
          </select>
        </th>
        <th class="tbl2">
          <button
            type="submit"
            class="btn btn-primary"
            Tooltip="Click Submit Button"
            [disabled]="!userForm.valid"
          >
            Submit</button
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <button
            type="reset"
            class="btn btn-danger"
            Tooltip="Click Reset Button"
            (click)="resetForm()"
          >
            Reset
          </button>
        </th>
      </tr>
    </table>

    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color: rgba(175, 240, 218, 0.795);">
        <th class="tbl2">User Id</th>
        <th class="tbl2">User Name</th>
        <th class="tbl2">Password</th>
        <th class="tbl2">User Type</th>
        <th class="tbl2">Edit</th>
        <th class="tbl2">Delete</th>
      </tr>
      <tr *ngFor="let User of allUsers | async">
        <td class="tbl2">{{ User.UserId }}</td>
        <td class="tbl2">{{ User.Username }}</td>
        <td class="tbl2">{{ User.Password }}</td>
        <td class="tbl2">{{ User.UserType == 0 ? "Driver" : "Customer" }}</td>

        <td class="tbl2">
          <button
            type="button"
            class="btn btn-info"
            matTooltip="Click Edit Button"
            (click)="loadUserToEdit(User.userId)"
          >
            Edit
          </button>
        </td>
        <td class="tbl2">
          <button
            type="button"
            class="btn btn-danger"
            matTooltip="Click Delete Button"
            (click)="deleteUser(User.userId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
