<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <table class="table" border="2">
      <tr class="tr1">
        <td>UserName</td>
        <td>Password</td>
        <td>UserType</td>
        <td></td>
      </tr>
    <tr ngclass="btn-primary">
        <td class="tbl2">
          <input formControlName="UserName" placeholder="Enter UserName" />
          <input formControlName="UserId" type="hidden" class="form-control" id="UserId">
        </td>
        <td class="tbl2">
          <input
            formControlName="UserPassword"
            type="text"
            placeholder="Enter Password"
          />
        </td>
        <td class="tbl2">
          <select Tooltip="UserType" formControlName="UserType">
            <option value="1">Admin</option>
          </select>
        </td>
        <td class="tbl2">
          <button
            type="submit"
            class="btn btn-primary"
            Tooltip="Click Submit Button"
            [disabled]="!userForm.valid"
          >
            Submit</button
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <button
            type="reset"
            class="btn btn-danger"
            Tooltip="Click Reset Button"
            (click)="ResetForm()"
          >
            Reset
          </button>
        </td>
      </tr>
    </table>

    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color: rgba(175, 240, 218, 0.795);">
        <th class="tbl2">User Name</th>
        <th class="tbl2">Password</th>
        <th class="tbl2">User Type</th>
        <th class="tbl2">Edit</th>
        <th class="tbl2">Delete</th>
      </tr>
      <tr *ngFor="let User of userList">
        <td class="tbl2">{{ User.UserName }}</td>
        <td class="tbl2">{{ User.UserPassword }}</td>
        <td class="tbl2">{{ User.UserType == 1 ? "Admin" : User.UserType == 2 ? "Driver" :"Customer" }}</td>

        <td class="tbl2">
          <button
            type="button"
            class="btn btn-info"
            matTooltip="Click Edit Button"
            (click)="FillUserFormToEdit(User.UserId)"
          >
            Edit
          </button>
        </td>
        <td class="tbl2">
          <button
            type="button"
            class="btn btn-danger"
            matTooltip="Click Delete Button"
            (click)="DeleteUser(User.UserId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
