<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <!-- WEBSITE LOGO -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- GOOGLE FONTS USED -->
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish&family=Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />

    <!-- SOCIAL MEDIA BUTTONS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="container-fluid" id="cn_fl1">
      <div class="row">
        <div class="col-md-6" id="trk_head">
          <div class="page-header">
            <span id="app_name">TRACKARS</span>
          </div>
        </div>
        <div class="col-md-6" id="trk_head" align="right">
          <div class="row">
            <div class="col-md-8" style="display: none;">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-instagram"></a>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary">Sign Out</button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main id="mainc">
      <div class="row1">
        <div class="col-12">
          <form>
            <agm-map
              style="height: 300px"
              [latitude]="lat"
              [longitude]="lng"
              [zoom]="zoom"
              (mapClick)="mapClicked($event)"
            >
              <agm-marker [latitude]="lat" [longitude]="lng" [label]="'Me'"></agm-marker>
              <agm-marker [latitude]="31.3260" [longitude]="75.5762" [label]="'Me'"></agm-marker>
            </agm-map>
          </form>
        </div>
      </div>
      <br />
      <div class="row1">
        <div class="col-12" align="center">
          <form [formGroup]="customerRideForm" (ngSubmit)="onBookRide()">
            <table class="table" border="2">
              <tr ngclass="btn-primary">
                <th class="tbl2">
                  PickUp Location &nbsp;&nbsp;
                  <input formControlName="PickUpLocation" placeholder="Enter PickUpLocation"  disabled/>
                  <input formControlName="CustomerId" type="hidden" class="form-control"/>
                </th>
                <th class="tbl2">
                  Drop Location &nbsp;&nbsp;
                  <input formControlName="DropLocation" placeholder="Enter DropLocation" disabled/>
                </th>
                <th class="tbl2">
                  <button class="btn btn-primary">Book a Ride</button>
                </th>
              </tr>
            </table>

          </form>

        </div>
      </div>
    </main>

    <!-- FOOTER SECTION -->
    <footer>
      Copyright &#169; 2020 Uttar Pradesh INDIA Inc. All Rights Reserved.
      TRACKARS &#174; is a registered trademark of the MIND-INFOTECH. Privacy
      And Terms.
    </footer>

    <!-- SCRIPT PROGRAMMING -->
    <script
      language="javascript"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>
