<div class="container">
  <form>
    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color:  rgba(88, 174, 231, 0.6);">
        <th class="tbl2">Customer Name</th>
        <th class="tbl2">Gender</th>
        <th class="tbl2">Contact Number</th>
        <th class="tbl2">Registration Date</th>
      </tr>
      <tr *ngFor="let Customer of customerList">
        <td class="tbl2">{{ Customer.CustomerName }}</td>
        <td class="tbl2">{{ Customer.GenderType }}</td>
        <td class="tbl2">{{ Customer.ContactNo }}</td>
        <td class="tbl2">{{ Customer.DateOfRegistration }}</td>
      </tr>
    </table>
  </form>
</div>
