<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Driver Dashboard</title>
  	<!-- WEBSITE LOGO -->
	<link rel="icon" type="image/x-icon" href="favicon.ico">

	<!-- GOOGLE FONTS USED -->
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mulish&family=Ubuntu+Condensed&display=swap" rel="stylesheet">

	<!-- SOCIAL MEDIA BUTTONS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- BOOTSTRAP -->
	<link rel=stylesheet type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header class=container-fluid id=cn_fl1>
    <div class=row>
      <div class=col-md-6 id=trk_head>
        <div class="page-header">
          <span id=app_name>TRACKARS  Welcome {{driverName}}</span>
        </div>
      </div>
      <div class=col-md-6  id=trk_head align=right>
        <div class=row>
          <div class=col-md-12>
            <button type="button" class="btn btn-primary" (click)="onSignOut()">Sign Out</button>
          </div>
      </div>
    </div>
    </div>
  </header>

  <div class="row" id="main">
    <div class="col-2" id="lpanel">
      <ul id="lmenu">
        <li><button id="btn1">Driver Location</button></li>
      </ul>
    </div>
    <div class="col-9" id="rpanel">
      <app-driver-location></app-driver-location>
    </div>
  </div>

  <!-- FOOTER SECTION -->
<footer>Copyright &#169; 2020 Uttar Pradesh INDIA Inc. All Rights Reserved. TRACKARS &#174; is a registered trademark of the MIND-INFOTECH. Privacy And Terms.</footer>

<!-- SCRIPT PROGRAMMING -->
<script language="javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
