<div class="row">
 <div class="col-12">
<agm-map
                      style="height: 300px"
                      [latitude]="lat"
                      [longitude]="lng"
                      [zoom]="zoom"
                      (mapClick)="mapClicked($event)"
                    >
                    <agm-marker [latitude]="taxiLat" [longitude]="taxiLng" *ngIf="taxiLocation" [iconUrl]="{
                      url: './assets/DriverTaxiMarker.png',
                      scaledSize: {
                          width: 45,
                          height: 30
                      }
                  }"></agm-marker>
                      <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="customerLocation" [label]="''"></agm-marker>
                      <agm-direction *ngIf="directionFlag" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
                    </agm-map>
</div>
</div>
   
 <div class="row">
   <div class="col-12" align="center">
        
    <table class="table" border="2">
      <tr ngclass="btn-primary" style="background-color:  rgba(88, 174, 231, 0.6);">
        <th class="tbl2">Customer Name</th>
        <th class="tbl2">PickUp Location</th>
        <th class="tbl2">Drop Location</th>
        <th class="tbl2">Ride Date</th>
        <th class="tbl2">Ride Status</th>
      </tr>
      <tr *ngIf="currentRideList">
        <td class="tbl2">{{ currentRideList.CustomerName}}</td>
        <td class="tbl2">{{ currentRideList.PickupLocation}}</td>
        <td class="tbl2">{{ currentRideList.DropLocation }}</td>
        <td class="tbl2">{{ currentRideList.RideDate}}</td>
        <td class="tbl2">{{ currentRideList.RideStatus == 0 ? "Initiated" : currentRideList.RideStatus == 1 ? "Started" :"Completed"}}</td>
      </tr>
    </table>
  
   </div>
</div>



